* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
}

:root {
  --cor-primaria: #8490ff;
  --cor-secundaria: #004483;
  --cor-terciaria: #22d4fd;
  --cor-quartenaria: #ffd704;
  --cor-quinternaria: #1a750c;


}

.conteiner1 {
  height: 8vh;
  margin-top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  background-color: var(--cor-secundaria);
}

.float {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.float2 {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.usuário {
  margin-left: 3rem;
  margin-right: 1rem;
}

.nomeusuário {
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.calendário {
  margin-right: 3rem;
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.fornecedor {
  margin-right: 3rem;
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.histórico {
  margin-right: 2rem;
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.notificação {
  margin-right: 0rem;
}

.foto3 {
  max-width: 3rem;
  max-height: 3rem;
}

.foto4 {
  max-width: 6rem;
  max-height: 6rem;
}

.título2 {
  text-align: center;
  font-family: "Jomhuria", serif;
  margin-top: 1rem;
  font-size: 96px;
  color: var(--cor-quartenaria);
  letter-spacing: 4px;
}

.conteiner2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.segunda {
  background-color: white;
  padding: 2rem;
  border-radius: 5rem;
  border: 0.5rem solid var(--cor-secundaria);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 20rem;
  height: 20rem;
  margin-top: 12rem;
  margin-right: 10rem;
}

.terça {
  background-color: white;
  padding: 2rem;
  border-radius: 5rem;
  border: 0.5rem solid var(--cor-secundaria);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 20rem;
  height: 20rem;
  margin-top: 3rem;
}

.quarta {
  background-color: white;
  padding: 2rem;
  border-radius: 5rem;
  border: 0.5rem solid var(--cor-secundaria);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 20rem;
  height: 20rem;
  margin-top: 12rem;
  margin-left: 10rem;
}

.alimento1 {
  max-width: 10rem;
  max-height: 10rem;
  margin-bottom: 3rem;
}

.texto1 {
  font-size: 30px;
  color: var(--cor-quinternaria);
  font-family: "Inter", sans-serif;
}

.dia {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  border: solid var(--cor-secundaria) 0.2rem;
  background-color: #ffd704;
  border-radius: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3.2rem;
}

.dia2 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  border: solid var(--cor-secundaria) 0.2rem;
  background-color: #16a324;
  border-radius: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5.5rem;
}

.dia3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  border: solid var(--cor-secundaria) 0.2rem;
  background-color: #0500ff;
  border-radius: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5.5rem;
}