@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
}

:root {
  --cor-primaria: #8490ff;
  --cor-secundaria: #004483;
  --cor-terciaria: #22d4fd;
  --cor-quartenaria: #ffd704;
  --cor-quinternaria: #1a750c;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

.float {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 55rem;
}

.usuário {
  margin-left: 3rem;
  margin-right: 1rem;
}

.nomeusuário {
  color: black;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 28px;
}

.foto3 {
  max-width: 3rem;
  max-height: 3rem;
}

.título3 {
  font-size: 96px;
  color: var(--cor-quartenaria);
  font-family: "Jomhuria", serif;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  letter-spacing: 4px;
}

.bloco {
  display: flex;
  justify-content: center;
}

.arcelor {
  text-align: center;
}

.logo1 {
  width: 30rem;
  height: 12rem;
  object-fit: cover;
  border: none;
  border-radius: 4rem;
  margin-bottom: 3rem;
}

.logo2 {
  width: 30rem;
  height: 12rem;
  object-fit: cover;
  border: none;
  border-radius: 4rem;
  margin-bottom: 3rem;
}

.logo3 {
  width: 30rem;
  height: 12rem;
  object-fit: cover;
  border: none;
  border-radius: 4rem;
  margin-bottom: 3rem;
}
