@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
}

:root {
  --cor-primaria: #8490ff;
  --cor-secundaria: #004483;
  --cor-terciaria: #22d4fd;
  --cor-quartenaria: #ffd704;
  --cor-quinternaria: #1a750c;
  --cor-sextenaria: #3abb25;
  --cor-heptenaria: #183c10;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

.conteiner1 {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  font-size: 28px;
  background-color: var(--cor-secundaria);
}

.float {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 55rem;
}

.float2 {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.usuário {
  margin-left: 3rem;
  margin-right: 1rem;
}

.nomeusuário {
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.calendário {
  margin-right: 3rem;
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.fornecedor {
  margin-right: 3rem;
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.histórico {
  margin-right: 2rem;
  color: lightblue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.notificação {
  margin-right: 0rem;
}

.foto3 {
  max-width: 3rem;
  max-height: 3rem;
}

.foto4 {
  max-width: 6rem;
  max-height: 6rem;
}

.título5 {
  text-align: center;
  font-family: "Jomhuria", serif;
  margin-top: 1rem;
  font-size: 96px;
  color: var(--cor-quartenaria);
  letter-spacing: 4px;
}

#Enviar {
  border: solid var(--cor-heptenaria) 0.3rem;
  background-color: var(--cor-sextenaria);
  padding: 0.5rem;
  border-radius: 2rem;
  width: 9rem;
  color: black;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.conjunto {
  max-width: 80rem;
  max-height: 5.2rem;
  padding: 1rem;
  border: solid var(--cor-secundaria) 0.5rem;
  border-radius: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#descrição {
  width: 70rem;
  background-color: white;
  font-size: 20px;
  text-align: justify;
  border: none;
  margin-left: 2rem;
}

.data {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  margin-left: 2rem;
}

.conteiner5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conjunto2 {
  max-width: 80rem;
  max-height: 12rem;
  padding: 1rem;
  border: solid var(--cor-secundaria) 0.5rem;
  border-radius: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quantidade {
  width: 10rem;
  height: 14rem;
  background-color: white;
  font-size: 20px;
  text-align: center;
  border: solid var(--cor-secundaria) 0.5rem;
}
